<div class="container">
    <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
        <div class="container-fluid d-flex align-items-center">
            <h1 class="d-flex align-items-center fs-4 text-white mb-0">
                <a href="/" class="d-flex align-items-center">
                    <img src="/static/images/pyeongtaek-logo.png" width="100%" height="45px" class="me-3"
                         alt="Bootstrap">
                </a>
            </h1>
            <div class="ms-auto">
                <img src="/static/images/pyeongtaek-phone.png" width="100%" height="40px" class="me-3"
                     alt="평택여객 전화번호">
            </div>
        </div>
    </header>


    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" style="background-color: #f0f0f0;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10"
                    aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="bs-white collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown" style="margin-right: 30px">
                        <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            운행안내
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/schedule">시내버스 시간표</a></li>
                            <li><a class="dropdown-item" href="/ddock">똑버스</a></li>
                            <li><a class="dropdown-item" href="/location">찾아오시는길</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" style="margin-right: 30px">
                        <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            고객센터
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/qa">고객문의</a></li>
                            <li><a class="dropdown-item" href="/lost">분실물문의</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" style="margin-right: 30px">
                        <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            채용안내
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/recruit">자격요건</a></li>
                            <li><a class="dropdown-item" href="/notice">공지사항</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


</div>